#bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: auto !important;
}

h1 {
  font-size: 6em;
  color: #E9F2F1;
  line-height: 0.8em;
  text-align: right;
}

h1 span {
  color: #FE4A73;
}

hr {
  margin: 40px 0;
  border-top: none;
}

p {
  color: #E9F2F1;
}

.bottom {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn:first-child {
  margin-right: 20px;
}

button {
  font-family: "Nirmala UI";
  font-size: 2.5em;
  font-weight: bold;
  border: none;
  background: #E9F2F1;
  color: #FE4A73;
  border-radius: 15px;
  width: 50px;
  height: 60px;
  margin-bottom: 10px;
  cursor: pointer;
}

.clicked {
  background: #FE4A73;
  color: #E9F2F1;
  outline: none;
}

button:focus {
    outline: none;
    outline: none;
}